<!DOCTYPE html>
<html lang="zh-cn"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta   charset="utf-8">
  <title>登录</title>
  <link rel="stylesheet" th:href="@{/css/pintuer.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/js/pintuer.js}"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改用户</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" th:action="@{/user/update/deal}">

      <!--      user_id-->
      <div class="form-group">
        <div class="label">
          <label for="id">用 户 ID：</label>
        </div>
        <div class="field">
          <input type="text" th:value="${queryUserById.id}" class="input w50" id="id" name="id" size="50" readonly />
        </div>
      </div>
      <!--      user_id-->
      <div class="form-group">
        <div class="label">
          <label for="user_id">用 户 ID：</label>
        </div>
        <div class="field">
          <input type="text" th:value="${queryUserById.user_id}" class="input w50" id="user_id" name="user_id" size="50" readonly />
        </div>
      </div>

      <!--      用户名-->
      <div class="form-group">
        <div class="label">
          <label for="username">用 户 名：</label>
        </div>
        <div class="field">
          <input type="text"
                 class="input w50"
                 id="username"
                 name="username"
                 size="50"
                 placeholder="请输入用户名"
                 data-validate="required:请输入用户名"
                 th:value="${queryUserById.username}"
          />
        </div>
      </div>

      <!--      性别-->
      <div class="form-group">
        <div class="label">
          <label for="gender">性&nbsp;&nbsp;别：</label>
        </div>
        <div class="field">
          <select id="gender" name = "gender" class="input w50" style="-webkit-appearance:menulist;" th:checked="${queryUserById.gender}">
            <option value="1">男</option>
            <option value="0">女</option>
          </select>
        </div>
      </div>

      <!--      权限-->
      <div class="form-group">
        <div class="label">
          <label for="role_id">账号类型：</label>
        </div>
        <div class="field">
          <select id="role_id"
                  name = "role_id"
                  class="input w50"
                  style="-webkit-appearance:menulist;"
                  th:field="${queryUserById.role_id}"
          >
            <option value="1" >系统管理员</option>
            <option value="2" >医生</option>
            <option value="3" >普通管理员</option>
          </select>
        </div>
      </div>

      <!--      密码-->
      <div class="form-group">
        <div class="label">
          <label for="password">密&nbsp;&nbsp;码：</label>
        </div>
        <div class="field">
          <input type="text"
                 class="input w50"
                 id="password"
                 name="password"
                 size="50"
                 placeholder="请输入密码"
                 data-validate="required:请输入密码,length#>=6:密码不能小于6位"
                 th:value="${queryUserById.password}"
          />
        </div>
      </div>

<!--   按钮-->
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 确认修改</button>
          <button class="button bg-yellow icon-trash-o" onclick="javascript:this.form.action='/user/list'"> 返回上一级</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>

</html>